<main>

<h3>{{date}}</h3>

<h1>ECOMMERCE PAGE</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint expedita, omnis assumenda vitae inventore beatae ipsa velit magnam officia non voluptatem molestiae consequuntur sequi rem dolorem quis atque voluptas recusandae.</p>


</main>